{% for item in vlanlist %}
vlans {
    {{ item.name }} {
        vlan-id {{ item.id }};
        l3-interface irb.{{ item.id }};
        vxlan {
            vni {{ item.vni }};
        }
    }
}
interfaces {
    irb {
        unit {{ item.id }} {
            family inet {
                address {{ item.subnet | ipaddr(address) }} {
                    virtual-gateway-address {{ item.subnet | ipaddr('1') }};
                }
            }
            virtual-gateway-v4-mac {{ item.virtual_mac }};
        }
    }
}
protocols {
    pim {
        interface irb.{{ item.id }} {
            distributed-dr;
        }
    }
    igmp-snooping {
        vlan {{ item.name }} {
            proxy;
        }
    }
}
{% endfor %}
